* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}


body {
    background-image: url(../assets/bg-esports.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}


main {
    max-width: 580px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

header div {
    display: flex;
    padding: 4px;
    margin: auto;
    width: 120px;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
}

.wrap-img img {
    width: 100%;
    border-radius: 50%;
}

section {
    color: #FFFFFF;
    padding-top: 4px;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 32px 24px 32px 32px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    color: #A1A1AA;
    letter-spacing: -0.18px;
}
section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 24px;
}


.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channels-list img {
    border-radius: 50%;
    width: 70px;
}